<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div style="padding-top: 30px;">
  <div class="form_gen" style="">
    <div class="form_gen_left">
      <img src="http://yourstyle.net.pe/yourstyle-backend/uploads/ys-register/img_register_1.png" alt="Generic placeholder thumbnail"/>
    </div>
    <div class="form_gen_right">
      <div class="form_gen_right_top">
        <img src="http://yourstyle.net.pe/yourstyle-backend/uploads/ys-register/img_logo_main_1.png" alt="Generic placeholder thumbnail"/>
      </div>
      <div class="form_gen_right_body">

      </div>
    </div>
  </div>
</div>
